.App {
	text-align: center;
	position: relative; /* Set parent to relative positioning */
	width: 100%; /* Ensure parent takes up the full width of its container */
	height: 100vh; /* Make the parent take up the full viewport height */
	display: flex; /* Use flexbox for centering */
	justify-content: center; /* Center horizontally */
	align-items: center;
}

/* .App:has(>div.registration){ */
.App{
	/* background: url('../public/backgrounds/register_background.jpg') no-repeat center center fixed; */
	background: url('../public/backgrounds/background-light.svg') no-repeat center center fixed;
}

.registration {
	width: 400px;
	z-index: 10;
}
.dark-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.08); /* Semi-transparent black */
	z-index: 5; /* Ensure it is behind other content */
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.header-info {
	font-size: 18px;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
